@import 'color.scss';
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background-color: $color_dark;
}
.suptitle {
  &__left {
    position: relative;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 7.33px;
    text-transform: uppercase;
    opacity: 0.5;
    color: $color_light;
    padding: 0 0 0 103px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 80px;
      height: 1px;
      background-color: $color_light;
      opacity: 0.5;
    }
  }
}
