// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';

// ---- ---- fonts ---- ---- //
@font-face {
}

// ---- ---- colors ---- ---- //
$color_main: #ffffff;
$color_accent: #0093a1;
$color_light: #ffffff;
$color_dark: #262c27;
$color_hover: #b9c400;
$color_text: #262c27;

// ---- ---- main ---- ---- //
body {
}
.suptitle {
  &__left {
  }
}
// ---- ---- header ---- ---- //
.header {
  &__slider {
  }
  &__slider-item {
    min-height: 100vh;
    background-image: url(../images/bg/bg_head01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header-slider {
  &__item {
  }
  &__info {
  }
  &__info-suptitle {
  }
  &__info-title {
  }
  &__info-suptext {
  }
  &__info-text {
  }
  &__info-link {
  }
}

// ---- ---- media ---- ---- //
@media (max-width: 360px) {
}
