// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';
@import 'global.scss';

// ---- ---- font ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;800&display=swap');

// ---- ---- colors ---- ---- //

// ---- ---- header ---- ---- //
.header {
  &__slider {
  }
  &__slider-item {
    position: relative;
    min-height: 100vh;
    background-image: url(../images/bg/bg_head01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header-slider {
  &__item {
  }
  &__info {
    position: absolute;
    right: 80px;
    bottom: 115px;
    text-align: right;
    text-transform: uppercase;
    color: $color_light;
  }
  &__info-suptitle {
    margin-bottom: 5px;
  }
  &__info-title {
    font-size: 80px;
    font-weight: 800;
    line-height: 86px;
    margin-bottom: 48px;
  }
  &__info-suptext {
    margin-bottom: 8px;
  }
  &__info-text {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-bottom: 20px;
  }
  &__info-link {
  }
}

// ---- ---- media ---- ---- //
@media (max-width: 360px) {
}
